:root {
  --light: #fff;
  --gray: #eee;
  --dark: #1a1a1a;
  --primary: #5555ff;
  --warning: #ffff00;
  --danger: #ff1a1a;
}

a {
  text-decoration: none;
  color: var(--primary);
}

ul {
  list-style: none;
}
